main {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        radial-gradient(rgba(255, 255, 255, 0.4) .06rem, transparent 1px),
        url(/src/assets/foto_fundo_home.jpg);
    background-size: 
        cover,
        1rem 1rem,
        cover;
    background-repeat: 
        no-repeat,
        repeat, 
        no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .main-container {
    color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .main-container h1{
    font-size: 4rem;
    font-weight: 300;
    margin-top: 10rem;
}
main .main-container span{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 8rem;
}
main .main-container a {
    background-color: var(--blue);
    color: var(--white);
    font-size: 2.6rem;
    font-weight: 700;
    padding: .1rem 6.5rem;
    border: none;
    border-radius: 3rem;
}
main .main-container a:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), linear-gradient(var(--blue), var(--blue));
    cursor: pointer;
    transform: scale(105%);
}

@media (width <= 68rem) {
    main .main-container h1{
        font-size: 7vw;
    }
    main .main-container span{
        font-size: 7vw;
    }
    main .main-container a {
        padding: .1rem 1rem;
        font-size: 2rem;
    }
}
@media (width <= 31rem) {
    main .main-container h1{
        font-size: 2rem;
    }
   main .main-container a {
        font-size: 1rem;
        text-align: center;
    } 
}