@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --gray: #E5E5E5;
    --darker-gray: #1E1E1E;
    --black: #000000;
    --blue: #3A86FF;
    --light-red: #FF6B6B;
}