main {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        radial-gradient(rgba(255, 255, 255, 0.4) .06rem, transparent 1px), 
        url(/src/assets/foto_camera_fundoportfolio.jpg);
    background-size: 
        cover,
        1rem 1rem, 
        cover;
    background-repeat: 
        no-repeat,
        repeat, 
        no-repeat;
    background-position: center;
}

.fs-div {
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.fs-div > div {
    background-color: #1E1E1E;/*temp*/
    opacity: 75%;
    height: 100vh;
    width: 100vw;
}

.fs-div > img{
    position: absolute;
    height: 90vh;
}

.fs-div > svg {
    height: 3rem;
    position: absolute;
    left: 96%;
    top: 1%;
}

.hidden {
    display: none !important;
}